.item {
	box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
	border-radius: 16px;
	display: flex;
	justify-content: space-between;
	padding: 30px;
	width: 75%;
	margin: 0 auto 10px;
}
.item:hover {
	box-shadow: 0px 0px 70px rgba(95, 95, 95, 0.2);
}

.item p {
	font-size: 18px;
	line-height: 16px;
	font-family: 'Gilroy-Bold', sans-serif;
	color: #222222;
}

.icon {
	fill: white;
	width: 24px;
	height: 12px;
}
