.card {
	height: 300px;
	margin-top: 44px;
	margin-bottom: 44px;
}

.card_list {
	width: 80%;
	margin: 0 auto;
}

.card img {
	float: left;
	margin-right: 70px;
}

.number {
	color: #01cd7d;
	font-family: 'Gilroy-Regular', sans-serif;
	font-size: 80px;
	line-height: 56px;
	text-align: left;
	margin-right: 40px;
}

.title {
	margin-left: 33px;
	font-family: 'Gilroy-Bold', sans-serif;
	font-size: 24px;
	line-height: 36px;
	color: #1f2428;
	width: 400px;
}

.header {
	display: flex;
	margin-bottom: 10px;
}
