.main_footer_container {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px #c0c9d7 solid;
	width: 70%;
	margin: 86px auto 0;
	padding-bottom: 55px;
}
.text_column h1 {
	font-size: 14px;
	line-height: 16px;
	font-family: 'Gilroy-Bold', sans-serif;
	color: #1f2428;
	margin-bottom: 15px;
}

.text_column p {
	font-size: 12px;
	line-height: 20px;
	font-family: 'Gilroy-Light', sans-serif;
	color: #1f2428;
	margin-bottom: 12px;
}
.img_column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.img_column img {
	width: 150px;
	height: 37px;
}
.icons_row {
	display: flex;
	margin-top: 25px;
}

.icon {
	width: 55px;
	height: 55px;
}

.whatsup_icon svg {
	fill: #0dc143;
}
.whatsup_icon svg circle {
	stroke: #0dc143;
}

.viber_icon svg {
	fill: #675da9;
}
.viber_icon svg circle {
	stroke: #675da9;
}

.chat_icon svg {
	fill: #41b7e9;
}

.chat_icon svg circle {
	stroke: #41b7e9;
}

.end_of_page {
	font-size: 13px;
	line-height: 20px;
	font-family: 'Gilroy-Light', sans-serif;
	text-align: center;
	color: #1f2428;
	margin: 36px;
}
